 body { /*цвет фона*/
            background-color: #35170C;
            font-family: Arial, sans-serif;
        }
        
        .h1 {
            color: white;
            text-decoration-color: white;
            font-size: 30px;
            font-family: Bradley Hand, cursive;
            margin-bottom: 0px;
        }
        
        .h2 {
            font-size: 25px;
            color: white;
            font-family: Bradley Hand, cursive;
            text-decoration-color: white;
            margin: 20px 0;
        }
        
        .highlight {
            background-color: yellow;
        }
        .red-button {
            background-color: #790604;
            color: white;
            padding: 15px 175px;
            border-radius: 50px;
            text-decoration: none;
            font-weight: bold;
            font-family: Bradley Hand, cursive;
            font-size: 30px;
            margin-top: 40px;
        }

        .h3 {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        nav ul { /*Главная сайта*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li { /*Расстояние между */
  display: inline-block; 
  vertical-align: middle; 
  margin-right: 20px; 
  border-radius: 30px;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 150px;
  text-decoration: none;
  font-size: 30px;
  font-family: Bradley Hand, cursive;
}

nav ul li:hover {
  background-color: #573715;
}

.nav_bar {
  margin-bottom: 20px;
}

.nav_bar{
  margin-bottom: 20px;
}

.dropdown-content { /*Меню*/
  display: none;
  position: absolute; 
  background-color: #f9f9f9;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right:  1.65%;
}


img {
  border-radius: 100px;
}
.footer { /*Подвал*/
  width: 75%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  color: white;
}
.footer-column {
  display: flex;
  flex-direction: column;
}
.footer-column:not(:last-child) {
  margin-right: 10%;
}
.footer-column p {
  margin: 5px 0;
}
.contact-info {
  text-align: right;
}
.contact-info p {
  margin: 5px 0;
}
.social-icons {
  margin-top: 10px;
}
.social-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 8px;
  background-size: cover;
}